In [1]:
import pandas as pd
import numpy as np

In [2]:
df_lines = pd.read_csv('./TransportData/nanjing_lines.csv',names=['id','line_name','lines','price','station_names','station_coords'])
df_lines.head(2)

,id,line_name,lines,price,station_names,station_coords
0,0,X1路(阅城国际南门--汇康路),"118.777761,31.981484;118.777913,31.981501;118....",0,"['阅城国际南门', '郁金香路', '翠岛花城北', '丁墙村', '郁金香路东', '卡...","['118.777761,31.981484', '118.784985,31.983802..."
1,0,16路(龙福山庄总站--中山码头北),"118.758173,31.997193;118.758264,31.997166;118....",2,"['龙福山庄总站', '赛上路', '凤台南路', '赛虹桥', '赛虹桥立交东', '中华...","['118.758173,31.997193', '118.757852,32.003963..."

In [3]:
len(df_lines)

55

In [4]:
df_sts =df_lines[['station_coords','station_names']]
df_sts.head(1)

,station_coords,station_names
0,"['118.777761,31.981484', '118.784985,31.983802...","['阅城国际南门', '郁金香路', '翠岛花城北', '丁墙村', '郁金香路东', '卡..."

In [5]:
df_sts['station_coords'][0]

"['118.777761,31.981484', '118.784985,31.983802', '118.787064,31.984688', '118.792687,31.98714', '118.795551,31.988368', '118.797747,31.988494', '118.797592,31.983997', '118.797926,31.979956', '118.802468,31.981542', '118.807331,31.981832']"

In [6]:
df_sts['station_coords'][0].replace('[','').replace(']','').replace('\'','').split(', ')

['118.777761,31.981484',
 '118.784985,31.983802',
 '118.787064,31.984688',
 '118.792687,31.98714',
 '118.795551,31.988368',
 '118.797747,31.988494',
 '118.797592,31.983997',
 '118.797926,31.979956',
 '118.802468,31.981542',
 '118.807331,31.981832']

In [7]:
df_sts['station_coords']=df_sts['station_coords'].apply(lambda x:x.replace('[','').replace(']','').split(', '))

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7536\1626323695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sts['station_coords']=df_sts['station_coords'].apply(lambda x:x.replace('[','').replace(']','').split(', '))

In [8]:
len(df_sts['station_coords'][0])

10

In [9]:
df_sts['station_names'][0]

"['阅城国际南门', '郁金香路', '翠岛花城北', '丁墙村', '郁金香路东', '卡子门大街南', '软件大道东', '明发商业广场', '双龙街', '汇康路']"

In [10]:
df_sts['station_names']=df_sts['station_names'].apply(lambda x:x.replace('[','').replace(']','').replace('\'','').split(', '))

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7536\310525467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sts['station_names']=df_sts['station_names'].apply(lambda x:x.replace('[','').replace(']','').replace('\'','').split(', '))

In [11]:
df_sts['station_names'][0]

['阅城国际南门',
 '郁金香路',
 '翠岛花城北',
 '丁墙村',
 '郁金香路东',
 '卡子门大街南',
 '软件大道东',
 '明发商业广场',
 '双龙街',
 '汇康路']

In [12]:
df_sts.head(1)

,station_coords,station_names
0,"['118.777761,31.981484', '118.784985,31.983802...","[阅城国际南门, 郁金香路, 翠岛花城北, 丁墙村, 郁金香路东, 卡子门大街南, 软件大道..."

In [13]:
 np.hstack(df_sts['station_names'].repeat(list(map(len,df_sts['station_names']))))

array(['阅城国际南门', '郁金香路', '翠岛花城北', ..., '化纤厂', '化纤新村', '万寿南'], dtype='<U18')

In [14]:
np.hstack(df_sts['station_coords'].repeat(list(map(len,df_sts['station_coords']))))

array(["'118.777761,31.981484'", "'118.784985,31.983802'",
       "'118.787064,31.984688'", ..., "'118.843956,32.125513'",
       "'118.84215,32.123053'", "'118.837789,32.118124'"], dtype='<U22')

In [16]:
df_sts.columns

Index(['station_coords', 'station_names'], dtype='object')

In [17]:
st_all = pd.DataFrame(\
                    np.column_stack((\
                                    np.hstack(df_sts['station_coords'].repeat(list(map(len,df_sts['station_coords'])))),
                                    np.hstack(df_sts['station_names'].repeat(list(map(len,df_sts['station_names']))))
                                    )),
                                     columns=['station_coords','station_names']
                    )
st_all

               station_coords station_names
0      '118.777761,31.981484'        阅城国际南门
1      '118.784985,31.983802'          郁金香路
2      '118.787064,31.984688'         翠岛花城北
3       '118.792687,31.98714'           丁墙村
4      '118.795551,31.988368'         郁金香路东
...                       ...           ...
38403  '118.843565,32.130329'       壮举路·神农路
38404  '118.844776,32.128575'       壮举路·春树街
38405  '118.843956,32.125513'           化纤厂
38406   '118.84215,32.123053'          化纤新村
38407  '118.837789,32.118124'           万寿南

[38408 rows x 2 columns]

In [18]:
len(st_all)

38408

In [19]:
st_all=st_all.drop_duplicates()
len(st_all)

1204

In [20]:
st_all.to_csv('station.csv')

In [21]:
df_lines.columns

Index(['id', 'line_name', 'lines', 'price', 'station_names', 'station_coords'], dtype='object')

In [23]:
df_ls=df_lines[['line_name','lines']]
df_ls.head(2)

            line_name                                              lines
0    X1路(阅城国际南门--汇康路)  118.777761,31.981484;118.777913,31.981501;118....
1  16路(龙福山庄总站--中山码头北)  118.758173,31.997193;118.758264,31.997166;118....

In [24]:
df_ls['lines'][0]

'118.777761,31.981484;118.777913,31.981501;118.77837,31.98156;118.778766,31.981619;118.778965,31.981651;118.779078,31.981673;118.779442,31.981737;118.779952,31.981855;118.780129,31.981898;118.780392,31.981957;118.781213,31.982215;118.782125,31.98259;118.782511,31.982751;118.782784,31.982874;118.783739,31.983276;118.784179,31.983464;118.784844,31.983743;118.784985,31.983802;118.785241,31.98391;118.785826,31.984167;118.786421,31.984425;118.786502,31.984457;118.786845,31.984596;118.787064,31.984688;118.78743,31.984848;118.787703,31.984961;118.78824,31.985186;118.788342,31.985235;118.788707,31.985385;118.789533,31.985739;118.789656,31.985798;118.790375,31.986125;118.790783,31.986308;118.791469,31.986597;118.792113,31.986881;118.792564,31.987085;118.792687,31.98714;118.793261,31.987396;118.793486,31.987498;118.794178,31.987799;118.794613,31.987986;118.79523,31.988233;118.795289,31.98826;118.795551,31.988368;118.796008,31.988555;118.79619,31.98863;118.796539,31.988786;118.797322,31.98914;118.797747,31.988494;118.798008,31.988099;118.798486,31.987396;118.798765,31.986967;118.798835,31.986865;118.799076,31.986592;118.7992,31.986479;118.799532,31.985948;118.79958,31.985878;118.799768,31.985573;118.799318,31.985213;118.798384,31.984548;118.798046,31.984323;118.797592,31.983997;118.797553,31.983974;118.796598,31.983293;118.795476,31.982515;118.795509,31.982284;118.796244,31.981201;118.796775,31.980423;118.797327,31.97964;118.797488,31.979661;118.797719,31.979822;118.797926,31.979956;118.79825,31.980165;118.798545,31.980364;118.79877,31.980508;118.798878,31.980578;118.799795,31.981195;118.7998,31.981201;118.800026,31.981356;118.800235,31.98149;118.801281,31.982171;118.801748,31.982456;118.801844,31.982515;118.802128,31.982096;118.802397,31.981651;118.802468,31.981542;118.802692,31.981201;118.802718,31.981158;118.802804,31.98104;118.80303,31.980739;118.803228,31.980482;118.803684,31.979951;118.804006,31.980095;118.804607,31.980589;118.804998,31.980916;118.805202,31.981088;118.805347,31.981201;118.805985,31.98171;118.806152,31.981828;118.806495,31.982075;118.806978,31.982402;118.807273,31.981914;118.807331,31.981832'

In [25]:
df_ls['lines'][0].split(';')

['118.777761,31.981484',
 '118.777913,31.981501',
 '118.77837,31.98156',
 '118.778766,31.981619',
 '118.778965,31.981651',
 '118.779078,31.981673',
 '118.779442,31.981737',
 '118.779952,31.981855',
 '118.780129,31.981898',
 '118.780392,31.981957',
 '118.781213,31.982215',
 '118.782125,31.98259',
 '118.782511,31.982751',
 '118.782784,31.982874',
 '118.783739,31.983276',
 '118.784179,31.983464',
 '118.784844,31.983743',
 '118.784985,31.983802',
 '118.785241,31.98391',
 '118.785826,31.984167',
 '118.786421,31.984425',
 '118.786502,31.984457',
 '118.786845,31.984596',
 '118.787064,31.984688',
 '118.78743,31.984848',
 '118.787703,31.984961',
 '118.78824,31.985186',
 '118.788342,31.985235',
 '118.788707,31.985385',
 '118.789533,31.985739',
 '118.789656,31.985798',
 '118.790375,31.986125',
 '118.790783,31.986308',
 '118.791469,31.986597',
 '118.792113,31.986881',
 '118.792564,31.987085',
 '118.792687,31.98714',
 '118.793261,31.987396',
 '118.793486,31.987498',
 '118.794178,31.987799',
 '118.794613,31.987986',
 '118.79523,31.988233',
 '118.795289,31.98826',
 '118.795551,31.988368',
 '118.796008,31.988555',
 '118.79619,31.98863',
 '118.796539,31.988786',
 '118.797322,31.98914',
 '118.797747,31.988494',
 '118.798008,31.988099',
 '118.798486,31.987396',
 '118.798765,31.986967',
 '118.798835,31.986865',
 '118.799076,31.986592',
 '118.7992,31.986479',
 '118.799532,31.985948',
 '118.79958,31.985878',
 '118.799768,31.985573',
 '118.799318,31.985213',
 '118.798384,31.984548',
 '118.798046,31.984323',
 '118.797592,31.983997',
 '118.797553,31.983974',
 '118.796598,31.983293',
 '118.795476,31.982515',
 '118.795509,31.982284',
 '118.796244,31.981201',
 '118.796775,31.980423',
 '118.797327,31.97964',
 '118.797488,31.979661',
 '118.797719,31.979822',
 '118.797926,31.979956',
 '118.79825,31.980165',
 '118.798545,31.980364',
 '118.79877,31.980508',
 '118.798878,31.980578',
 '118.799795,31.981195',
 '118.7998,31.981201',
 '118.800026,31.981356',
 '118.800235,31.98149',
 '118.801281,31.982171',
 '118.801748,31.982456',
 '118.801844,31.982515',
 '118.802128,31.982096',
 '118.802397,31.981651',
 '118.802468,31.981542',
 '118.802692,31.981201',
 '118.802718,31.981158',
 '118.802804,31.98104',
 '118.80303,31.980739',
 '118.803228,31.980482',
 '118.803684,31.979951',
 '118.804006,31.980095',
 '118.804607,31.980589',
 '118.804998,31.980916',
 '118.805202,31.981088',
 '118.805347,31.981201',
 '118.805985,31.98171',
 '118.806152,31.981828',
 '118.806495,31.982075',
 '118.806978,31.982402',
 '118.807273,31.981914',
 '118.807331,31.981832']

In [26]:
df_ls['lines']=df_ls['lines'].apply(lambda x:x.split(';'))
df_ls['lines'][0]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7536\212454240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ls['lines']=df_ls['lines'].apply(lambda x:x.split(';'))

['118.777761,31.981484',
 '118.777913,31.981501',
 '118.77837,31.98156',
 '118.778766,31.981619',
 '118.778965,31.981651',
 '118.779078,31.981673',
 '118.779442,31.981737',
 '118.779952,31.981855',
 '118.780129,31.981898',
 '118.780392,31.981957',
 '118.781213,31.982215',
 '118.782125,31.98259',
 '118.782511,31.982751',
 '118.782784,31.982874',
 '118.783739,31.983276',
 '118.784179,31.983464',
 '118.784844,31.983743',
 '118.784985,31.983802',
 '118.785241,31.98391',
 '118.785826,31.984167',
 '118.786421,31.984425',
 '118.786502,31.984457',
 '118.786845,31.984596',
 '118.787064,31.984688',
 '118.78743,31.984848',
 '118.787703,31.984961',
 '118.78824,31.985186',
 '118.788342,31.985235',
 '118.788707,31.985385',
 '118.789533,31.985739',
 '118.789656,31.985798',
 '118.790375,31.986125',
 '118.790783,31.986308',
 '118.791469,31.986597',
 '118.792113,31.986881',
 '118.792564,31.987085',
 '118.792687,31.98714',
 '118.793261,31.987396',
 '118.793486,31.987498',
 '118.794178,31.987799',
 '118.794613,31.987986',
 '118.79523,31.988233',
 '118.795289,31.98826',
 '118.795551,31.988368',
 '118.796008,31.988555',
 '118.79619,31.98863',
 '118.796539,31.988786',
 '118.797322,31.98914',
 '118.797747,31.988494',
 '118.798008,31.988099',
 '118.798486,31.987396',
 '118.798765,31.986967',
 '118.798835,31.986865',
 '118.799076,31.986592',
 '118.7992,31.986479',
 '118.799532,31.985948',
 '118.79958,31.985878',
 '118.799768,31.985573',
 '118.799318,31.985213',
 '118.798384,31.984548',
 '118.798046,31.984323',
 '118.797592,31.983997',
 '118.797553,31.983974',
 '118.796598,31.983293',
 '118.795476,31.982515',
 '118.795509,31.982284',
 '118.796244,31.981201',
 '118.796775,31.980423',
 '118.797327,31.97964',
 '118.797488,31.979661',
 '118.797719,31.979822',
 '118.797926,31.979956',
 '118.79825,31.980165',
 '118.798545,31.980364',
 '118.79877,31.980508',
 '118.798878,31.980578',
 '118.799795,31.981195',
 '118.7998,31.981201',
 '118.800026,31.981356',
 '118.800235,31.98149',
 '118.801281,31.982171',
 '118.801748,31.982456',
 '118.801844,31.982515',
 '118.802128,31.982096',
 '118.802397,31.981651',
 '118.802468,31.981542',
 '118.802692,31.981201',
 '118.802718,31.981158',
 '118.802804,31.98104',
 '118.80303,31.980739',
 '118.803228,31.980482',
 '118.803684,31.979951',
 '118.804006,31.980095',
 '118.804607,31.980589',
 '118.804998,31.980916',
 '118.805202,31.981088',
 '118.805347,31.981201',
 '118.805985,31.98171',
 '118.806152,31.981828',
 '118.806495,31.982075',
 '118.806978,31.982402',
 '118.807273,31.981914',
 '118.807331,31.981832']

In [27]:
df_ls.head(2)

            line_name                                              lines
0    X1路(阅城国际南门--汇康路)  [118.777761,31.981484, 118.777913,31.981501, 1...
1  16路(龙福山庄总站--中山码头北)  [118.758173,31.997193, 118.758264,31.997166, 1...

In [28]:
df_ls.to_json(('lines.json'))